<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="request" href="/tabs/request">
      <ion-icon aria-hidden="true" name="document-text-outline"></ion-icon>
      <ion-label style="font-weight: 600;">Request</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="track" href="/tabs/track">
      <ion-icon aria-hidden="true" name="time-outline"></ion-icon>
      <ion-label style="font-weight: 600;">Track</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label style="font-weight: 600;">Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="support" href="/tabs/support">
      <ion-icon aria-hidden="true" name="help-circle-outline"></ion-icon>
      <ion-label style="font-weight: 600;">Suporta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>